@font-face {
  font-family: 'Geometria';
  src: url('/fonts/geometria-medium.ttf') format('ttf'),
  url('/fonts/geometria-medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css?family=Bad+Script&display=swap&subset=cyrillic');
