
.owl-theme {
	// Styling Next and Prev buttons
	.owl-nav {
		margin-top: 10px;
		text-align: center;
		-webkit-tap-highlight-color: transparent;

		[class*='owl-'] {
			color: $owl-nav-color;
			font-size: $owl-nav-font-size;
			margin: $owl-nav-margin;
			padding: $owl-nav-padding;
			background: $owl-nav-background;
			display: inline-block;
			cursor: pointer;
			border-radius: 3px;

			// &:hover {
			// 	background: $owl-nav-background-hover;
			// 	color:$owl-nav-color-hover;
			// 	text-decoration: none;
			// }
		}
		.disabled {
			opacity: $owl-nav-disabled-opacity;
			cursor: default;
		}
	}

	// Styling dots
	.owl-nav.disabled + .owl-dots {
		margin-top: 10px;
	}

	.owl-dots {
		position: absolute;
		bottom: 1%;
		left: 45%;
		text-align: center;
		-webkit-tap-highlight-color: transparent;

		.owl-dot {
			display: inline-block;
			zoom: 1;
			*display: inline;

			span {
				width: 21px;
				height: 21px;
				margin: $owl-dot-margin;
				background-color: transparent;
				border-radius: 50%;
				display: block;
				-webkit-backface-visibility: visible;
				transition: opacity 200ms ease;
				border: solid #afafaf 1px;
			}

			&.active,
			&:hover {
				span {
					background-color:#71726e;
					opacity: 0.7;
					transition: all .3s ease;
				}
			}
		}
	}
}
