$colorContacts: #d3d3d0;

.contacts{
    list-style: none;
    margin: 0;
    padding: 0;
}

.contacts__svg {
    fill: $colorContacts;
    width: 25px;
    height: 21px;
    margin: 0;
    margin-right: 15px;
}

.contacts__svg {
    fill: $colorContacts;
    width: 25px;
    height: 21px;
    margin: 0;
    margin-right: 15px;
}

.contacts__tel {
    font-size: 16px;
    font-family: 'Geometria';
    color: $black;
    line-height: 1.5;
    text-decoration: none;
    margin-right: 50px;
}

.contacts__address {
    font-size: 16px;
    font-family: 'Geometria';
    color: $black;
    line-height: 1.5;
    text-decoration: none;
    margin-right: 35px;
}

@media (max-width: 510px) {
    .header__contacts {
        justify-content: space-around;
    }

    .contacts__address {
        margin-right: 10px;
    }

    .contacts__tel {
        margin-right: 10px;
    }
}