$bgButton: #6d5cad;

.menu__wrap {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-around;
    align-items: center;

}

.menu__element {
    &:first-child {
        margin-left: 45px;
    }
}

.menu__link {
    color: $white;
    text-decoration: none;
    font-size: 15px;
    font-family: "Geometria";
    line-height: 1.6;
    display: block;
    padding: 1em;
    transition-duration: 500ms;

    &:hover {
        background: rgba(0, 0, 0, 0.3);
    }
}

.menu__svg {
    fill: $white;
    width: 14px;
    height: 15px;
    margin-right: 15px;
}

.menu__button {
    background:$bgButton;
    width: 218px;
    height: 43px;
    border-radius: 25px;
    border: none;
    font-size: 15px;
    color: $white;
    display: block;
    cursor: pointer;
    box-shadow: none;
    margin-right: 35px;
    
    &:hover {
     background: linear-gradient(to top, #01abce, #7ac398);
    }
};
    
    


